<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-plugin-talkback" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Talkback</name>
    <js-module name="Talkback" src="www/talkback.js">
        <clobbers target="Talkback" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Talkback">
                <param name="android-package" value="com.plugin.talkback.Talkback" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.kylindev.pttlib.view.AlarmAlert" android:launchMode="singleInstance" android:excludeFromRecents="true" android:taskAffinity=""
				android:theme="@android:style/Theme.Wallpaper.NoTitleBar" android:configChanges="orientation|keyboardHidden|keyboard|navigation" android:screenOrientation="portrait" />
            <!-- 用于开机自启动 -->
            <receiver android:exported="false" android:name="com.plugin.talkback.BootCompleteReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
            <!-- ptt 功能主服务 -->
            <service android:exported="false" android:name="com.kylindev.pttlib.service.InterpttService" android:exported="true"></service>
            <!-- 监听耳机按键 -->
            <receiver android:exported="false" android:name="com.kylindev.pttlib.utils.MediaButtonIntentReceiver" android:enabled="true"
				android:priority="1000">
                <intent-filter>
                    <action android:name="android.intent.action.MEDIA_BUTTON" />
                </intent-filter>
            </receiver>
            <receiver android:exported="false" android:name="com.kylindev.pttlib.utils.AutoRestartServiceReceiver">
                <intent-filter>
                    <action android:name="com.kylindev.pttlib.auto_restart_service" />
                </intent-filter>
            </receiver>
        </config-file>
        <source-file src="src/android/Talkback.java" target-dir="src/com/plugin/talkback/Talkback" />
		<source-file src="src/android/AppCommonUtil.java" target-dir="src/com/plugin/talkback/Talkback" />
		<source-file src="src/android/AppConstants.java" target-dir="src/com/plugin/talkback/Talkback" />
		<source-file src="src/android/BootCompleteReceiver.java" target-dir="src/com/plugin/talkback/Talkback" />
		<source-file src="src/android/BuildConfig.java" target-dir="src/com/plugin/talkback/Talkback" />
		<source-file src="src/android/PttWidgetProvider.java" target-dir="src/com/plugin/talkback/Talkback" />
		<source-file src="src/android/PttWidgetTimeProvider.java" target-dir="src/com/plugin/talkback/Talkback" />
		<source-file src="src/android/drawable/ic_default_avatar.png" target-dir="res/drawable" />
		<source-file src="src/android/drawable/ic_default_avatar_gray.png" target-dir="res/drawable" />
		<source-file src="src/android/drawable/ic_play_video.png" target-dir="res/drawable" />
		<source-file src="src/android/drawable/ic_play_video_gray.png" target-dir="res/drawable" />
		<source-file src="src/android/drawable/ic_channel_option.png" target-dir="res/drawable" />
		<source-file src="src/android/drawable/ic_mic_talking.png" target-dir="res/drawable" />
		<source-file src="src/android/layout/layout_widget_ptt.xml" target-dir="res/layout" />
		<source-file src="src/android/layout/layout_widget_ptt_time.xml" target-dir="res/layout" />
		<source-file src="src/android/pttlib-release.aar" target-dir="libs" />
		<framework src="src/android/pttlib-release.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
